// mobile first layout
.content {
  margin-top: 91px
}

.logo {
  display: block;
  margin: 0 auto;
}

.logo__img {
  outline: none !important;
  .bounce();
}

.download {
  width: 179px;
  height: 53px;
  background-size: 179px 53px;
  display: block;
  margin: 55px auto 0;
  text-indent: -999px;
  overflow: hidden;

  .animated(70px, 600ms);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 39px;
}

.footer__nav {
  width: 100%;

  .animated(40px, 600ms)
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__li {
  padding: 0 5px;

  &:first-child { padding-left: 10px; }
  &:last-child { padding-right: 10px; }
}

.footer__link {
  text-align: center;
  display: block;
  white-space: nowrap;
  line-height: 39px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

// tablet layout
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .content {
    //height: 480px;
    //margin-top: -240px;
  }
  /*.logo,
  .logo__img {
    width: 214px;
    height: 151px;
  }*/


  /*.download {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 251px;
    height: 75px;
    background-size: 251px 75px;
    margin-top: 80px;
  }*/


  .footer { height: 64px; }
  .footer__link {
    line-height: 64px;
    font-size: 18px;
  }

  .footer__nav {
    width: 500px;
    margin: 0 auto;
  }
}

.overlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
  z-index: -1;
}

// desktop layout
@media screen and (min-width: 1280px) {
  .content {
    //height: 252px;
    //margin-top: -125px;
  }

  .desktop-wrapper {
    //width: 448px;
    //margin: 0 auto;
  }
  
  .logo {
    //max-height: 50%;
    //max-width:75%;
    //width: auto;
    width: 375px;
    height: 687px;
    position: relative;
  }
  .logo__img {
    //width: 750px;
    //height: 1334px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .download {
    width: 100%;
    height: 70px;
    background-size: 235px 70px;
    height: 60px;
    background-color: #1a1a1a;
    position: fixed;
    bottom: 0;
    left: 0;

    span {
      display: block;
      margin: 0 auto;
      width: 222px;
      height: 60px;
      background-image: url(../img/download-now.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &:before {
        content: "";
        background-image: url(../img/apple.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 19px;
        height: 17px;
      }
    }
  }

  .footer__nav {
    width: 620px;
    margin: 0 auto;
  }

  .footer { height: 44px; }
  .footer__link {
    line-height: 44px;
    font-size: 18px;
  }
}